<h2>Improvised Statistics</h2>

<p><table>
<thead>
<tr>
<th><strong>Statistic</strong></th>
<th style="text-align: center"><strong>Tier 1</strong></th>
<th style="text-align: center"><strong>Tier 2</strong></th>
<th style="text-align: center"><strong>Tier 3</strong></th>
<th style="text-align: center"><strong>Tier 4</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Attack Modifier</strong></td>
<td style="text-align: center">[[/roll d20+1 # Attack]]</td>
<td style="text-align: center">[[/roll d20+2 # Attack]]</td>
<td style="text-align: center">[[/roll d20+3 # Attack]]</td>
<td style="text-align: center">[[/roll d20+4 # Attack]]</td>
</tr>
<tr>
<td><strong>Damage Dice</strong></td>
<td style="text-align: center">[[/roll 2d4+3 # Damage]]</td>
<td style="text-align: center">[[/roll 2d6+3 # Damage]]</td>
<td style="text-align: center">[[/roll 2d10+5 # Damage]]</td>
<td style="text-align: center">[[/roll 2d6+15 # Damage]]</td>
</tr>
<tr>
<td><strong>Easy 2d6+X</strong></td>
<td style="text-align: center">[[/roll 2d6+0 # Damage]]</td>
<td style="text-align: center">[[/roll 2d6+5 # Damage]]</td>
<td style="text-align: center">[[/roll 2d6+10 # Damage]]</td>
<td style="text-align: center">[[/roll 2d6+15 # Damage]]</td>
</tr>
<tr>
<td><strong>Difficulty</strong></td>
<td style="text-align: center"><code>11</code></td>
<td style="text-align: center"><code>14</code></td>
<td style="text-align: center"><code>17</code></td>
<td style="text-align: center"><code>20</code></td>
</tr>
<tr>
<td><strong>Major Threshold</strong></td>
<td style="text-align: center"><code>7</code><br></td>
<td style="text-align: center"><code>10</code><br></td>
<td style="text-align: center"><code>20</code></td>
<td style="text-align: center"><code>25</code></td>
</tr>
<tr>
<td><strong>Severe Threshold</strong></td>
<td style="text-align: center"><code>12</code></td>
<td style="text-align: center"><code>20</code></td>
<td style="text-align: center"><code>32</code></td>
<td style="text-align: center"><code>45</code></td>
</tr>
</tbody>
</table></p>

<h2>Adversaries by Tier</h2>

<h3>Tier 1 (Level 1)</h3>
<ul>
<li><strong>Jagged Knife Bandits</strong> (@UUID[.{{ "Jagged Knife Bandit" | hashify }}], @UUID[.{{ "Jagged Knife Shadow" | hashify }}], @UUID[.{{ "Jagged Knife Hexer" | hashify }}], @UUID[.{{ "Jagged Knife Sniper" | hashify }}], @UUID[.{{ "Jagged Knife Lieutenant" | hashify }}], @UUID[.{{ "Jagged Knife Lackey" | hashify }}], @UUID[.{{ "Jagged Knife Kneebreaker" | hashify }}])</li>
<li><strong>Beasts</strong> (@UUID[.{{ "Bear" | hashify }}], @UUID[.{{ "Dire Wolf" | hashify }}], @UUID[.{{ "Giant Rat" | hashify }}], @UUID[.{{ "Swarm of Rats" | hashify }}], @UUID[.{{ "Giant Scorpion" | hashify }}], @UUID[.{{ "Glass Snake" | hashify }}], @UUID[.{{ "Giant Mosquitos" | hashify }}])</li>
<li><strong>Mercenaries</strong> (@UUID[.{{ "Sellsword" | hashify }}], @UUID[.{{ "Harrier" | hashify }}], @UUID[.{{ "Spellblade" | hashify }}], @UUID[.{{ "Weaponmaster" | hashify }}])</li>
<li><strong>Oozes</strong> (@UUID[.{{ "Green Ooze" | hashify }}], @UUID[.{{ "Tiny Green Ooze" | hashify }}], @UUID[.{{ "Red Ooze" | hashify }}], @UUID[.{{ "Tiny Red Ooze" | hashify }}])</li>
<li><strong>Tangle Brambles</strong> (@UUID[.{{ "Tangle Bramble Swarm" | hashify }}], @UUID[.{{ "Tangle Bramble" | hashify }}])</li>
<li><strong>Grove Guardians</strong> (@UUID[.{{ "Minor Treant" | hashify }}], @UUID[.{{ "Sylvan Soldier" | hashify }}], @UUID[.{{ "Deeproot Defender" | hashify }}], @UUID[.{{ "Young Dryad" | hashify }}])</li>
<li><strong>Skeletons</strong> (@UUID[.{{ "Skeleton Dredge" | hashify }}], @UUID[.{{ "Skeleton Warrior" | hashify }}], @UUID[.{{ "Skeleton Archer" | hashify }}], @UUID[.{{ "Skeleton Knight" | hashify }}])</li>
<li><strong>Guards</strong> (@UUID[.{{ "Bladed Guards" | hashify }}], @UUID[.{{ "Archer Guards" | hashify }}], @UUID[.{{ "Head Guard" | hashify }}])</li>
<li><strong>Zombies</strong> (@UUID[.{{ "Shambling Zombie" | hashify }}], @UUID[.{{ "Rotted Zombie" | hashify }}], @UUID[.{{ "Zombie Pack" | hashify }}], @UUID[.{{ "Brawny Zombie" | hashify }}], @UUID[.{{ "Patchwork Zombie Hulk" | hashify }}])</li>
<li><strong>Elementals</strong> (@UUID[.{{ "Minor Chaos Elemental" | hashify }}], @UUID[.{{ "Minor Fire Elemental" | hashify }}])</li>
<li><strong>Pirates</strong> (@UUID[.{{ "Pirate Raiders" | hashify }}], @UUID[.{{ "Pirate Captain" | hashify }}], @UUID[.{{ "Pirate Tough" | hashify }}])</li>
<li><strong>Construct</strong> (@UUID[.{{ "Construct" | hashify }}])</li>
<li><strong>Acid Burrower</strong> (@UUID[.{{ "Acid Burrower" | hashify }}])</li>
<li><strong>Minor Demon</strong> (@UUID[.{{ "Minor Demon" | hashify }}])</li>
<li><strong>Cave Ogre</strong> (@UUID[.{{ "Cave Ogre" | hashify }}])</li>
<li><strong>Socialites</strong> (@UUID[.{{ "Merchant" | hashify }}], @UUID[.{{ "Courtier" | hashify }}], @UUID[.{{ "Petty Noble" | hashify }}])</li>
</ul>
<h3>Tier 2 (Levels 2-4)</h3>
<ul>
<li><strong>Assassins</strong> (@UUID[.{{ "Assassin Poisoner" | hashify }}], @UUID[.{{ "Apprentice Assassin" | hashify }}], @UUID[.{{ "Master Assassin" | hashify }}])</li>
<li><strong>Battle Box</strong> (@UUID[.{{ "Battle Box" | hashify }}])</li>
<li><strong>Chaos Skull</strong> (@UUID[.{{ "Chaos Skull" | hashify }}])</li>
<li><strong>Giant Eagle</strong> (@UUID[.{{ "Giant Eagle" | hashify }}])</li>
<li><strong>Juvenile Flickerfly</strong> (@UUID[.{{ "Juvenile Flickerfly" | hashify }}])</li>
<li><strong>Giant Mercenaries</strong> (@UUID[.{{ "Giant Brawler" | hashify }}], @UUID[.{{ "Giant Recruit" | hashify }}], @UUID[.{{ "Giant Beastmaster" | hashify }}])</li>
<li><strong>Katari Burglar</strong> (@UUID[.{{ "Katari Burglar" | hashify }}])</li>
<li><strong>Ghosts</strong> (@UUID[.{{ "Spectral Guardian" | hashify }}], @UUID[.{{ "Spectral Archer" | hashify }}], @UUID[.{{ "Spectral Captain" | hashify }}])</li>
<li><strong>Mortal Hunter</strong> (@UUID[.{{ "Mortal Hunter" | hashify }}])</li>
<li><strong>Failed Experiment</strong> (@UUID[.{{ "Failed Experiment" | hashify }}])</li>
<li><strong>Gorgon</strong> (@UUID[.{{ "Gorgon" | hashify }}])</li>
<li><strong>Noble Forces</strong> (@UUID[.{{ "Elite Soldier" | hashify }}], @UUID[.{{ "Archer Squadron" | hashify }}], @UUID[.{{ "Conscript" | hashify }}], @UUID[.{{ "Knight of the Realm" | hashify }}])</li>
<li><strong>Minotaur</strong> (@UUID[.{{ "Minotaur" | hashify }}])</li>
<li><strong>Cult of the Fallen</strong> (@UUID[.{{ "Cult Initiate" | hashify }}], @UUID[.{{ "Cult Fang" | hashify }}], @UUID[.{{ "Cult Adept" | hashify }}], @UUID[.{{ "Secret-Keeper" | hashify }}])</li>
<li><strong>Beasts</strong> (@UUID[.{{ "Electric Eels" | hashify }}], @UUID[.{{ "Shark" | hashify }}], @UUID[.{{ "Stonewraith" | hashify }}], @UUID[.{{ "Demonic Hound Pack" | hashify }}], @UUID[.{{ "Siren" | hashify }}])</li>
<li><strong>War Wizard</strong> (@UUID[.{{ "War Wizard" | hashify }}])</li>
<li><strong>Socialites</strong> (@UUID[.{{ "Royal Advisor" | hashify }}], @UUID[.{{ "Merchant Baron" | hashify }}], @UUID[.{{ "Courtesan" | hashify }}], @UUID[.{{ "Spy" | hashify }}])</li>
</ul>
<h3>Tier 3 (Levels 5-7)</h3>
<ul>
<li><strong>Socialites</strong> (@UUID[.{{ "Monarch" | hashify }}])</li>
<li><strong>Elementals</strong> (@UUID[.{{ "Greater Water Elemental" | hashify }}], @UUID[.{{ "Elemental Spark" | hashify }}], @UUID[.{{ "Greater Earth Elemental" | hashify }}])</li>
<li><strong>Emotion Demons</strong> (@UUID[.{{ "Demon of Wrath" | hashify }}], @UUID[.{{ "Demon of Despair" | hashify }}], @UUID[.{{ "Demon of Jealousy" | hashify }}], @UUID[.{{ "Demon of Avarice" | hashify }}], @UUID[.{{ "Demon of Hubris" | hashify }}])</li>
<li><strong>Huge Green Ooze</strong> (@UUID[.{{ "Huge Green Ooze" | hashify }}])</li>
<li><strong>Hydra</strong> (@UUID[.{{ "Hydra" | hashify }}])</li>
<li><strong>Adult Flickerfly</strong> (@UUID[.{{ "Adult Flickerfly" | hashify }}])</li>
<li><strong>Vampires</strong> (@UUID[.{{ "Dire Bat Vampire" | hashify }}], @UUID[.{{ "Vampire" | hashify }}], @UUID[.{{ "Head Vampire" | hashify }}])</li>
<li><strong>Vault Guardians</strong> (@UUID[.{{ "Vault Guardian Sentinel" | hashify }}], @UUID[.{{ "Vault Guardian Gaoler" | hashify }}], @UUID[.{{ "Vault Guardian Turret" | hashify }}])</li>
<li><strong>Verdant Defenders</strong> (@UUID[.{{ "Oak Treant" | hashify }}], @UUID[.{{ "Dryad" | hashify }}], @UUID[.{{ "Treant Sapling" | hashify }}], @UUID[.{{ "Stag Knight" | hashify }}])</li>
<li><strong>Young Ice Dragon</strong> (@UUID[.{{ "Young Ice Dragon" | hashify }}])</li>
</ul>
<h3>Tier 4 (Levels 8-10)</h3>
<ul>
<li><strong>Arch-Necromancer’s Host</strong> (@UUID[.{{ "Arch-Necromancer" | hashify }}], @UUID[.{{ "Zombie Legion" | hashify }}], @UUID[.{{ "Perfected Zombie" | hashify }}])</li>
<li><strong>Kraken</strong> (@UUID[.{{ "Kraken" | hashify }}])</li>
<li><strong>Oracle of Doom</strong> (@UUID[.{{ "Oracle of Doom" | hashify }}])</li>
<li><strong>Outer Realms Monstrosities</strong> (@UUID[.{{ "Outer Realms Abomination" | hashify }}], @UUID[.{{ "Outer Realms Corrupter" | hashify }}], @UUID[.{{ "Outer Realms Thrall" | hashify }}])</li>
<li><strong>Volcanic Dragon</strong> (@UUID[.{{ "Volcanic Dragon: Obsidian Predator" | hashify }}], @UUID[.{{ "Volcanic Dragon: Molten Scourge" | hashify }}], @UUID[.{{ "Volcanic Dragon: Ashen Tyrant" | hashify }}])</li>
<li><strong>Hallowed Forces</strong> (@UUID[.{{ "High Seraph" | hashify }}], @UUID[.{{ "Hallowed Soldier" | hashify }}], @UUID[.{{ "Hallowed Archer" | hashify }}])</li>
<li><strong>Fallen Horde</strong> (@UUID[.{{ "Fallen Shock Troop" | hashify }}], @UUID[.{{ "Fallen Sorcerer" | hashify }}], @UUID[.{{ "Fallen Warlord: Realm-Breaker" | hashify }}], @UUID[.{{ "Fallen Warlord: Undefeated Champion" | hashify }}])</li>
</ul>

<h2>Adversaries Index</h2>
<table>
<thead>
  <tr>
    <th>Adversary</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  {% for row in rows %}
  <tr>
    <td>@UUID[.{{ row.Name | hashify }}]<br><i>Tier {{ row.Tier }} {{ row.Type }}</i></td>
    <td><i>{{ row.Description }}</i></td>
  </tr>
  {% endfor %}
