<h2>By Tier</h2>

<table>
<tbody>

{% for tier in ['1', '2', '3', '4'] %}
  <tr>
    <td colspan="2"><h3><b>Tier {{ tier }}</b></h3></td>
  </tr>

  {% for row in rows %}
    {% if row.Tier == tier %}
      <tr>
        <td><b>@UUID[.{{ row.Name | hashify }}]</b><br>Base {{ row.Base }}</td>
        <td><i>{{ row.Feature }}</i></td>
      </tr>
    {% endif %}
  {% endfor %}

{% endfor %}

</tbody>
</table>
