---
obsidianUIMode: preview
---
{% for tier in [['1', '½💰'], ['2', '1💰'], ['3', '2💰'], ['4', '4💰']] -%}

## Tier {{ tier[0] }} Armor
{% for row in rows -%}
{% if row.Tier == tier[0] %}
> **{{ row.Name | upper }}** `{{ tier[1] }}` Base {{ row.Base }}.{% if row.Feature %} *{{ row.Feature }}*{% endif %}

{% endif -%}
{% endfor -%}

{% endfor %}
