---
obsidianUIMode: preview
---
- **Common:** Roll 1d12 or 2d12
- **Uncommon:** Roll 2d12 or 3d12
- **Rare:** Roll 3d12 or 4d12
- **Legendary:** Roll 4d12 or 5d12

{% for tier in [['1', '¼💰', 1, 15], ['2', '½💰', 16, 30], ['3', '1💰', 31, 45], ['4', '2💰', 46, 60]] -%}

## Tier {{ tier[0] }} Consumables
{% for row in rows -%}
{% if loop.index >= tier[2] and loop.index <= tier[3] %}
> **{{ row.Name | upper }}** `{{ tier[1] }}` {{ row.Description }} ({{ row.Number }})

{% endif -%}
{% endfor -%}

{% endfor %}
