---
obsidianUIMode: preview
---
# {{ Name }} (Tier {{ Tier }} {{ PhysicalOrMagic }})

**Trait**: `{{ Trait }}` | **Burden**: `{{ Burden }}`
**Range**: `{{ Range }}` | **Damage**: `{{ Damage }}`

{% if Feature %}
**Feature**: {{ Feature }}
{% else %}
**Feature**: None
{% endif %}
