---
obsidianUIMode: preview
---
# Weapons

| Name | Description |
|--|--|{% for row in rows %}
| [[{{ row.Name }}]]<br>*Tier {{ row.Tier }} {{ row.PhysicalOrMagic }}* | `{{ row.Trait }}` {{ row.Burden }} {{ row.Range }} {{ row.Damage }}<br>{% if row.Feature %}*{{ row.Feature }}*{% endif %} |{% endfor %}
